.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 4px;
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin: 10px 0;
}

.modal ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.modal li {
  margin-bottom: 5px;
}

.modal button {
  margin-top: 10px;
  padding-right: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0069d9;
}

.close-button {
  margin-left: 2px;
}